# Python cache files
__pycache__/
*.py[cod]
*$py.class

*/cache/*

chat_history_*.json
llm_server/models/*
*.gguf
*.DS_Store
*.log
debug_message*.json

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 

# uv 
uv.lock